@model List<BusMVCCrudOperation.Context.BusTracking>
@{
    ViewBag.Title = "BusList";
}

<h2>BusList</h2>

<table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Board Point</th>
        <th>Travel Date</th>
        <th>Amount</th>
        <th>Rating</th>
        
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>@item.BusID</td>
    <td>@item.BoardingPoint</td>
    <td>@item.TravelDate</td>
    <td>@item.Amount</td>
    <td>@item.Rating</td>
    <td>
        <a href="@Url.Action("Bus",new {item.BusID,item.BoardingPoint,item.TravelDate,item.Amount,item.Rating})" class="btn btn-success">Update</a>
        <a href="@Url.Action("Delete",new { id=item.BusID })" class="btn btn-danger">Delete</a>
    </td>

</tr>
    }
</table>

